* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
  color: white;
}
.section {
  background-color: hsl(213, 19%, 18%);
  width: 30%;
  border-radius: 20px;
}
#form {
  display: flex;
}
.btn {
  border: 1px solid hsl(217, 12%, 63%);
  display: none;
}
.label {
  padding: 2px;
  border: 1px solid hsl(217, 12%, 63%);
  cursor: pointer;
}
#radio1:checked ~ radio1,
#radio2:checked ~ radio2,
#radio3:checked ~ radio3,
#radio4:checked ~ radio4,
#radio5:checked ~ radio5 {
  color: red;
}

.popup {
  text-align: center;
  visibility: hidden;
  margin: 0 auto;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.result-message {
  color: hsl(25, 97%, 53%);
}
.title {
  color: hsl(0, 0%, 100%);
}
.paragraph {
  color: hsl(217, 12%, 63%);
}
